/*
	Main Page and Default Styling
*/

/* Start Global Variables */
:root {
	--bodyTextSize: 16px;
	--bodyTextSizeLarge: 18px;
	--bodyLineHeight: 1.75em;
	--primaryColor: #222;
	--primaryFontColor: #EEE;
	--secondary-color: #304C89;
	--highlight-color: #9eb7e5;
}
/* End Global Variables */

/* Start Font Declarations */
@font-face {
	font-family: bodyFont;
	src: url(../fonts/LeagueSpartan-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: headerFont;
	src: url(../fonts/LeagueSpartan-Bold.ttf);
	font-display: swap;
}
/* End Font Declarations */

/* Start Default Styling */
body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #111;
	font-size: var(--bodyTextSize);
	font-family: bodyFont, sans-serif;
}

h1, h2, h3, h4 {
	color: var(--primaryFontColor);
	margin: 0;
	padding: 0;
	line-height: var(--bodyLineHeight);
	align-content: center;
	font-family: headerFont, sans-serif;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
/* End Default Styling */

/* Start Structural Divs */
#pageContainer {
	min-width: 320px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#topHeader {
	width: 100%;
	height: auto;
	flex: none;
	display: flex;
	background-color: var(--secondary-color);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logoContainer {
	display: flex;
	flex-direction: row;
	height: 60px;
	padding: 10px 0;
	width: 88%;
	text-align: left;
	align-content: center;
	text-shadow: 3px 3px #111;
}

#logoContainer img {
	height: 100%;
	width: auto;
	margin-right: 2em;
	content: url("../images/logoSmall.webp");
	object-fit: contain;
}

#searchFormContainer {
	width: 88%;
	flex: none;
	height: auto;
	text-align: left;
	align-content: center;
	margin: 0 0 1em 0;
	display: flex;
	flex-direction: row;
}

#searchContent {
	flex: 1 1 auto;
	width: 98%;
	padding: 1em 1%;
	background-color: var(--primaryColor);
	display: none;
	gap: .5em .5em;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-template-rows: repeat(auto-fill, 200px);
	justify-content: center;
}

#statusContainer {
	flex: 1 1 auto;
	width: 96%;
	padding: 2%;
	background-color: var(--primaryColor);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: var(--primaryFontColor);
}

#statusTitle {
	color: var(--primaryFontColor);
	font-size: 2em;
	font-family: headerFont, sans-serif;
	flex: none;
	height: auto;
	width: 100%;
}

#statusDescription {
	color: var(--primaryFontColor);
	font-size: 1.75em;
	font-family: bodyFont, sans-serif;
	height: auto;
	flex: auto;
	width: 100%;
	align-content: center;
}

#loadingImg {
	width: 128px;
	height: 128px;
	flex: none;
}

#overlayContent {
	margin: auto auto;
	width: 80%;
	height: 80%;
}

#returnToTop {
	width: 100%;
	height: 40px;
	padding: 10px 0;
	flex: none;
	background-color: var(--secondary-color);
	color: var(--primaryFontColor);
	text-align: center;
	line-height: 40px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: none;
}

#returnToTop a {
	margin: 0 0 0 10px;
	padding: 0;
	height: 40px;
	width: 40px;
}

#returnBtn {
	height: 30px;
	width: 30px;
	padding: 5px;
	background-color: var(--primaryColor);
	cursor: pointer;
}
/* End Structural Divs */


/* Start Search Form Controls */
#searchFormContainer select { text-align: center; }

#submitBtn {
	width: 40px;
	height: 40px;
	background-color: var(--primaryColor);
	border: none;
	margin-left: 1em;
	background-image: url("../images/search.webp");
	background-repeat: no-repeat;
	background-size: 40px 40px;
}
/* End Search Form Controls */

/* Start Generic Class Styles */
.shadow-highlight {	box-shadow: 5px 5px #333; }

.shadow-highlight:hover, .shadow-highlight:focus { box-shadow: 5px 5px #999; }

.form-control {
	height: 40px;
	padding: 0 1%;
	width: 98%;
	font-size: 1em;
	background-color: var(--primaryColor);
	color: var(--primaryFontColor);
	font-family: bodyFont, sans-serif;
	border: none;
	outline: var(--primaryFontColor);
}

.form-container {
	flex: none;
	display: flex;
	flex-direction: column;
	height: 80px;
	justify-content: end;
}

.search-container {
	flex: auto !important;
	margin: 0 1em 0 0;
}

.select-container {	min-width: 100px; }

.form-container label {
	height: 40px;
	line-height: 40px;
	align-content: center;
	width: 100%;
	font-size: 1em;
	font-family: bodyFont, sans-serif;
	color: var(--primaryFontColor);
	text-shadow: 3px 3px #111;
}
/* End Generic Class Styles */

/* Start Large Screen Media Queries */
@media only screen and (min-width: 768px) {
	#pageContainer {
		min-width: 768px;
		max-width: 1280px;
		margin: 0 auto;
	}

	#topHeader{
		height: 150px;
		flex-direction: row;
	}

	#logoContainer {
		height: 150px;
		width: 300px;
		margin-left: 2%;
		flex: none;
	}

	#logoContainer img {
		height: 150px;
		width: 300px;
		content: url("../images/logo.webp");
		object-fit: contain;
	}

	#logoContainer h1 {
		display: none;
	}

	#searchFormContainer {
		flex: auto;
		height: 100%;
		border-radius: 0;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0 20px;
	}

	#searchContent {
		gap: 1em 1em;
	}

	html, body {
		font-size: var(--bodyTextSizeLarge);
		font-family: bodyFont, sans-serif;
	}
}
/* End Large Screen Media Queries */